.footer {
  width: 100%;
  background: rgb(236, 236, 236);
  background:  lightgrey;
  margin: 0;
  position: absolute;
  padding: 30px 0;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
  }

  &__link {
    display: flex;
    justify-content: space-between;

    .name {
      font-size: 32px;
      font-weight: bold;
      width: 12%;
      margin-left: 40px;
      
    }
    .year{
      margin-left: 40px;
    }

    .options {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      width: 70%;

      .option {
        width: 22%;
        display: inline-block;


      }

      & a:hover {
        opacity: 0.3;
        
          

        
      }

      &.link-collection {
        font-size: 16px;
      }
    }
  }

  .satoru {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    span{
      margin-top: 40px;
    }
    .social-media {
      width: 15%;
      
      
      ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        

        

        li {
          
          list-style: none;

          color:snow;
          
          padding: 10px;
          &:hover{
            opacity:0.5;
          }
      }
      }


    }
  }
}

@media (max-width: 600px) {
  .footer {
    &__link {
      flex-direction: column;

      .options {
        width: 100%;

        .option {
          width: fit-content;
        }
      }

      .name {
        font-size: 30px;
      }
    }
    .year {
      display: none;
    }
  }
}