.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin: 10px;

  margin-bottom: 30px;


  .content-logo {

    cursor: pointer;
    color: black;
    height: 70%;
    width: 70px;
    padding: 25px;
    align-self: center;




  }

  .nav-list {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;



    .nav-list-item {

      margin: 10px;

      max-height: 50%;
      width: 200px;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
      border: 1px solid black;
      text-decoration: none;
      color: black;

      &:hover {
        color: snow;
        background: black;
      }


    }


  }



  .social-list {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .social-list-item {
      margin: 5px;
      cursor: pointer;

      &:hover {
        color: black;
      }
    }


  }



}